<div class="card">
  <div class="card-header">
    <h3 style="text-align: center">Chi tiet sach</h3>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <h1>Chi tiet sach</h1>
      <a style="float: right" href="#" class="btn btn-primary" routerLink="">danh sach</a>
      <h4>Title</h4>
      <div>{{players.name}}</div>
      <h4>Author</h4>
      <div>{{players.champ}}</div>
      <h4>KDA</h4>
      <div>{{players.kda}}</div>
      <h4>Description</h4>
      <div>{{players.des}}</div>
    </blockquote>
  </div>
</div>

